<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>dr.chai.dict</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>386DF19A-6E6B-4C42-85BA-3B8F7BE8D195</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93A97536-57A5-4FC2-B16E-CC32F0804FA6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>46A59DB7-CD49-4C01-BEEF-DE3FCC5061E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83C09448-C975-4AC8-A08D-31819AC01B33</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6A5EB020-32D3-46D0-86A0-9B7A0A300890</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>76A78172-43A5-456D-9BDD-5AA554B8ED64</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>83C09448-C975-4AC8-A08D-31819AC01B33</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BC92D9B1-F42B-4B98-B96E-8F9684988425</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6A5EB020-32D3-46D0-86A0-9B7A0A300890</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>386DF19A-6E6B-4C42-85BA-3B8F7BE8D195</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9E459416-8E30-4209-A253-0C28121B8163</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9E459416-8E30-4209-A253-0C28121B8163</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>65813FE7-7B7C-424C-B85D-BEEF658D15E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BC92D9B1-F42B-4B98-B96E-8F9684988425</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CCF6C663-CA08-4A86-B647-129958F74916</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CCF6C663-CA08-4A86-B647-129958F74916</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CB6BF3AD-A348-41C1-A521-530F5FF08ADC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ed Chai</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Dictionary</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node updateConfig.js
echo "$1 updated: $2"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CCF6C663-CA08-4A86-B647-129958F74916</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>config</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>BC92D9B1-F42B-4B98-B96E-8F9684988425</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>-1</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>double tap</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>46A59DB7-CD49-4C01-BEEF-DE3FCC5061E6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Dictionary</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CB6BF3AD-A348-41C1-A521-530F5FF08ADC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>76A78172-43A5-456D-9BDD-5AA554B8ED64</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>url</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>6A5EB020-32D3-46D0-86A0-9B7A0A300890</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>dict</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>looking...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1"
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Translate '{query}'</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>83C09448-C975-4AC8-A08D-31819AC01B33</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>93A97536-57A5-4FC2-B16E-CC32F0804FA6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>copy</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>386DF19A-6E6B-4C42-85BA-3B8F7BE8D195</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>afplay {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>65813FE7-7B7C-424C-B85D-BEEF658D15E1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>tts</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>9E459416-8E30-4209-A253-0C28121B8163</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>386DF19A-6E6B-4C42-85BA-3B8F7BE8D195</key>
		<dict>
			<key>note</key>
			<string>var:action == "copy"</string>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>46A59DB7-CD49-4C01-BEEF-DE3FCC5061E6</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>65813FE7-7B7C-424C-B85D-BEEF658D15E1</key>
		<dict>
			<key>note</key>
			<string>Update config</string>
			<key>xpos</key>
			<real>565</real>
			<key>ypos</key>
			<real>465</real>
		</dict>
		<key>6A5EB020-32D3-46D0-86A0-9B7A0A300890</key>
		<dict>
			<key>note</key>
			<string>var:action == "url"</string>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>76A78172-43A5-456D-9BDD-5AA554B8ED64</key>
		<dict>
			<key>xpos</key>
			<real>565</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>83C09448-C975-4AC8-A08D-31819AC01B33</key>
		<dict>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>93A97536-57A5-4FC2-B16E-CC32F0804FA6</key>
		<dict>
			<key>xpos</key>
			<real>565</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>9E459416-8E30-4209-A253-0C28121B8163</key>
		<dict>
			<key>note</key>
			<string>var:action == "tts"</string>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>BC92D9B1-F42B-4B98-B96E-8F9684988425</key>
		<dict>
			<key>note</key>
			<string>var:action == "config"</string>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>115</real>
		</dict>
		<key>CB6BF3AD-A348-41C1-A521-530F5FF08ADC</key>
		<dict>
			<key>xpos</key>
			<real>795</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>CCF6C663-CA08-4A86-B647-129958F74916</key>
		<dict>
			<key>note</key>
			<string>Update config</string>
			<key>xpos</key>
			<real>565</real>
			<key>ypos</key>
			<real>115</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>googleApiKey</key>
		<string></string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
